<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>
  <body>



    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

      <div class="container-fluid">
        <a class="navbar-brand" href="#">AIPARROT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-nav navbar-right" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="https://github.com/YigitGunduc/AIParrot"><button type="button" class="btn btn-success">GitHub Repo</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div id="chatbox" class='scrollable container' >
          <p class="botText"><span>Hi! I'm AIPARROT.</span></p>
      </div>
      <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Message">
          <input id="buttonInput" type="submit" value="Send">
      </div>



      <section class='bg-light' id="github">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                  <h2>AIPARROT</h2>
                  <p class="lead">AIParrot is an conversational AI that uses deep learning to generate answer to given question. AIParrot is a open soure project you can explore the source code on GitHub</p>
                  <a href="https://github.com/YigitGunduc/AIParrot"><button type="button" class="btn btn-success">GitHub</button></a>
              </div>
            </div>
          </div>
		</section>



          <!-- Footer -->
        <footer class="py-5 bg-light">
          <div class="container text-center">
                        <p class="text-warning">PLEASE NOTE - AIParrot learn from existing conversations - things it says may seem inappropriate - use with discretion and at YOUR OWN RISK</p>
                  <p class="text-danger">PARENTAL ADVICE - whatever it says, visitors never talk to a human - the AI knows many topics - use ONLY WITH OVERSIGHT</p>
            <p class="m-0 text-center text-dark">See source Code and Docs at <a href="https://github.com/YigitGunduc/AIParrot">GitHub</a> Copyright &copy; Yiğit Gündüç 2021 - present </p>
          </div>
          <!-- /.container -->
        </footer>

      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>

  </body>
</html>
